<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1024"
	maxImageHeight="768"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="Herb Stoops"
	buttonBarHAlign="RIGHT"

>
  <image imageURL="images/woodwork_1.jpg"
	thumbURL="thumbs/woodwork_1.jpg"
	linkURL="images/woodwork_1.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_1]]></title>
    <caption><![CDATA[Norris Smoothing Planes]]></caption>
  </image>
  <image imageURL="images/woodwork_2.jpg"
	thumbURL="thumbs/woodwork_2.jpg"
	linkURL="images/woodwork_2.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_2]]></title>
    <caption><![CDATA[Norris Smoothing Planes]]></caption>
  </image>
  <image imageURL="images/woodwork_3.jpg"
	thumbURL="thumbs/woodwork_3.jpg"
	linkURL="images/woodwork_3.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_3]]></title>
    <caption><![CDATA[Cherry TV Entertainment Cabinet]]></caption>
  </image>
  <image imageURL="images/woodwork_4.jpg"
	thumbURL="thumbs/woodwork_4.jpg"
	linkURL="images/woodwork_4.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_4]]></title>
    <caption><![CDATA[Curly Maple Queen Anne Hiboy]]></caption>
  </image>
  <image imageURL="images/woodwork_5.jpg"
	thumbURL="thumbs/woodwork_5.jpg"
	linkURL="images/woodwork_5.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_5]]></title>
    <caption><![CDATA[Curly Maple Queen Anne jewel case]]></caption>
  </image>
  <image imageURL="images/woodwork_6.jpg"
	thumbURL="thumbs/woodwork_6.jpg"
	linkURL="images/woodwork_6.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_6]]></title>
    <caption><![CDATA[Curly Maple Queen Anne jewel case - side view]]></caption>
  </image>
  <image imageURL="images/woodwork_7.jpg"
	thumbURL="thumbs/woodwork_7.jpg"
	linkURL="images/woodwork_7.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_7]]></title>
    <caption><![CDATA[Curly maple Queen Anne jewel case - top lifted]]></caption>
  </image>
  <image imageURL="images/woodwork_8.jpg"
	thumbURL="thumbs/woodwork_8.jpg"
	linkURL="images/woodwork_8.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_8]]></title>
    <caption><![CDATA[Redwood book case]]></caption>
  </image>
  <image imageURL="images/woodwork_9.jpg"
	thumbURL="thumbs/woodwork_9.jpg"
	linkURL="images/woodwork_9.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_9]]></title>
    <caption><![CDATA[Bookcase broke down in two units ]]></caption>
  </image>
  <image imageURL="images/woodwork_10.jpg"
	thumbURL="thumbs/woodwork_10.jpg"
	linkURL="images/woodwork_10.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_10]]></title>
    <caption><![CDATA[Cutting board]]></caption>
  </image>
  <image imageURL="images/woodwork_11.jpg"
	thumbURL="thumbs/woodwork_11.jpg"
	linkURL="images/woodwork_11.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_11]]></title>
    <caption><![CDATA[Driftwood Walnut Clock]]></caption>
  </image>
  <image imageURL="images/woodwork_12.jpg"
	thumbURL="thumbs/woodwork_12.jpg"
	linkURL="images/woodwork_12.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_12]]></title>
    <caption><![CDATA[Chipmonk House]]></caption>
  </image>
  <image imageURL="images/woodwork_13.jpg"
	thumbURL="thumbs/woodwork_13.jpg"
	linkURL="images/woodwork_13.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_13]]></title>
    <caption><![CDATA[Crazy cutting board,Walnut and Maple]]></caption>
  </image>
  <image imageURL="images/woodwork_14.jpg"
	thumbURL="thumbs/woodwork_14.jpg"
	linkURL="images/woodwork_14.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_14]]></title>
    <caption><![CDATA[Old Sarratoga Trunk to restore.]]></caption>
  </image>
  <image imageURL="images/woodwork_15.jpg"
	thumbURL="thumbs/woodwork_15.jpg"
	linkURL="images/woodwork_15.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_15]]></title>
    <caption><![CDATA[ Oak Dresser]]></caption>
  </image>
  <image imageURL="images/woodwork_16.jpg"
	thumbURL="thumbs/woodwork_16.jpg"
	linkURL="images/woodwork_16.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_16]]></title>
    <caption><![CDATA[Inside trunk]]></caption>
  </image>
  <image imageURL="images/woodwork_17.jpg"
	thumbURL="thumbs/woodwork_17.jpg"
	linkURL="images/woodwork_17.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_17]]></title>
    <caption><![CDATA[Crazy Chess Board Purple Heart and Maple with Cherry frame around.]]></caption>
  </image>
  <image imageURL="images/woodwork_18.jpg"
	thumbURL="thumbs/woodwork_18.jpg"
	linkURL="images/woodwork_18.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_18]]></title>
    <caption><![CDATA[Old hand made tray]]></caption>
  </image>
  <image imageURL="images/woodwork_19.jpg"
	thumbURL="thumbs/woodwork_19.jpg"
	linkURL="images/woodwork_19.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_19]]></title>
    <caption><![CDATA[A Gaggle of tables]]></caption>
  </image>
  <image imageURL="images/woodwork_20.jpg"
	thumbURL="thumbs/woodwork_20.jpg"
	linkURL="images/woodwork_20.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_20]]></title>
    <caption><![CDATA[Outside after restoration]]></caption>
  </image>
  <image imageURL="images/woodwork_21.jpg"
	thumbURL="thumbs/woodwork_21.jpg"
	linkURL="images/woodwork_21.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_21]]></title>
    <caption><![CDATA[Pair of Bloodwood and maple Crazy Cutting Boards]]></caption>
  </image>
  <image imageURL="images/woodwork_22.jpg"
	thumbURL="thumbs/woodwork_22.jpg"
	linkURL="images/woodwork_22.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_22]]></title>
    <caption><![CDATA[New Tray ,Lined with Redwood]]></caption>
  </image>
  <image imageURL="images/woodwork_23.jpg"
	thumbURL="thumbs/woodwork_23.jpg"
	linkURL="images/woodwork_23.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_23]]></title>
    <caption><![CDATA[New 1/2" redwood liner]]></caption>
  </image>
  <image imageURL="images/woodwork_24.jpg"
	thumbURL="thumbs/woodwork_24.jpg"
	linkURL="images/woodwork_24.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_24]]></title>
    <caption><![CDATA[Treasure Chest]]></caption>
  </image>
  <image imageURL="images/woodwork_25.jpg"
	thumbURL="thumbs/woodwork_25.jpg"
	linkURL="images/woodwork_25.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_25]]></title>
    <caption><![CDATA[Cutting Boards]]></caption>
  </image>
  <image imageURL="images/woodwork_26.jpg"
	thumbURL="thumbs/woodwork_26.jpg"
	linkURL="images/woodwork_26.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_26]]></title>
    <caption><![CDATA[More Cutting Boards]]></caption>
  </image>
  <image imageURL="images/woodwork_27.jpg"
	thumbURL="thumbs/woodwork_27.jpg"
	linkURL="images/woodwork_27.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_27]]></title>
    <caption><![CDATA[Monkeywood Humidor]]></caption>
  </image>
  <image imageURL="images/woodwork_28.jpg"
	thumbURL="thumbs/woodwork_28.jpg"
	linkURL="images/woodwork_28.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_28]]></title>
    <caption><![CDATA[Cutting Board]]></caption>
  </image>
  <image imageURL="images/woodwork_29.jpg"
	thumbURL="thumbs/woodwork_29.jpg"
	linkURL="images/woodwork_29.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_29]]></title>
    <caption><![CDATA[Cutting Board]]></caption>
  </image>
  <image imageURL="images/woodwork_30.jpg"
	thumbURL="thumbs/woodwork_30.jpg"
	linkURL="images/woodwork_30.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_30]]></title>
    <caption><![CDATA[Cutting Board]]></caption>
  </image>
  <image imageURL="images/woodwork_31.jpg"
	thumbURL="thumbs/woodwork_31.jpg"
	linkURL="images/woodwork_31.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_31]]></title>
    <caption><![CDATA[Clock Jewel Box]]></caption>
  </image>
  <image imageURL="images/woodwork_32.jpg"
	thumbURL="thumbs/woodwork_32.jpg"
	linkURL="images/woodwork_32.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_32]]></title>
    <caption><![CDATA[Clock Jewel Box]]></caption>
  </image>
  <image imageURL="images/woodwork_33.jpg"
	thumbURL="thumbs/woodwork_33.jpg"
	linkURL="images/woodwork_33.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_33]]></title>
    <caption><![CDATA[Walnut jewel Box]]></caption>
  </image>
  <image imageURL="images/woodwork_34.jpg"
	thumbURL="thumbs/woodwork_34.jpg"
	linkURL="images/woodwork_34.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_34]]></title>
    <caption><![CDATA[Walnut jewel Box]]></caption>
  </image>
  <image imageURL="images/woodwork_35.jpg"
	thumbURL="thumbs/woodwork_35.jpg"
	linkURL="images/woodwork_35.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork_35]]></title>
    <caption><![CDATA[Walnut jewel Box]]></caption>
  </image>
  <image imageURL="images/woodwork2_1.jpg"
	thumbURL="thumbs/woodwork2_1.jpg"
	linkURL="images/woodwork2_1.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_1]]></title>
    <caption><![CDATA[A redwood end table for the deck]]></caption>
  </image>
  <image imageURL="images/woodwork2_2.jpg"
	thumbURL="thumbs/woodwork2_2.jpg"
	linkURL="images/woodwork2_2.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_2]]></title>
    <caption><![CDATA[A redwood end table for the deck]]></caption>
  </image>
  <image imageURL="images/woodwork2_3.jpg"
	thumbURL="thumbs/woodwork2_3.jpg"
	linkURL="images/woodwork2_3.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_3]]></title>
    <caption><![CDATA[Cutting Board]]></caption>
  </image>
  <image imageURL="images/woodwork2_4.jpg"
	thumbURL="thumbs/woodwork2_4.jpg"
	linkURL="images/woodwork2_4.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_4]]></title>
    <caption><![CDATA[Clock (Insrired by Don Strongs' show and tell)]]></caption>
  </image>
  <image imageURL="images/woodwork2_5.jpg"
	thumbURL="thumbs/woodwork2_5.jpg"
	linkURL="images/woodwork2_5.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_5]]></title>
    <caption><![CDATA[Caption]]></caption>
  </image>
  <image imageURL="images/woodwork2_6.jpg"
	thumbURL="thumbs/woodwork2_6.jpg"
	linkURL="images/woodwork2_6.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_6]]></title>
    <caption><![CDATA["Flintstone" boxes made from fir, maple, and cedar mill slab wood.]]></caption>
  </image>
  <image imageURL="images/woodwork2_7.jpg"
	thumbURL="thumbs/woodwork2_7.jpg"
	linkURL="images/woodwork2_7.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_7]]></title>
    <caption><![CDATA["Flintstone" boxes made from fir,maple, and cedar mill slab wood.]]></caption>
  </image>
  <image imageURL="images/woodwork2_8.jpg"
	thumbURL="thumbs/woodwork2_8.jpg"
	linkURL="images/woodwork2_8.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_8]]></title>
    <caption><![CDATA[Box]]></caption>
  </image>
  <image imageURL="images/woodwork2_9.jpg"
	thumbURL="thumbs/woodwork2_9.jpg"
	linkURL="images/woodwork2_9.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_9]]></title>
    <caption><![CDATA[Cutting board of walnut , ash, and yellow heart]]></caption>
  </image>
  <image imageURL="images/woodwork2_10.jpg"
	thumbURL="thumbs/woodwork2_10.jpg"
	linkURL="images/woodwork2_10.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_10]]></title>
    <caption><![CDATA[Cutting board of zebra wood, Brazilian walnut, and yellow heart]]></caption>
  </image>
  <image imageURL="images/woodwork2_11.jpg"
	thumbURL="thumbs/woodwork2_11.jpg"
	linkURL="images/woodwork2_11.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_11]]></title>
    <caption><![CDATA[Redwood bandsaw pencil holder]]></caption>
  </image>
  <image imageURL="images/woodwork2_12.jpg"
	thumbURL="thumbs/woodwork2_12.jpg"
	linkURL="images/woodwork2_12.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_12]]></title>
    <caption><![CDATA[Cutting board of blood wood and ash]]></caption>
  </image>
  <image imageURL="images/woodwork2_13.jpg"
	thumbURL="thumbs/woodwork2_13.jpg"
	linkURL="images/woodwork2_13.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_13]]></title>
    <caption><![CDATA[Tray made from shop scraps]]></caption>
  </image>
  <image imageURL="images/woodwork2_14.jpg"
	thumbURL="thumbs/woodwork2_14.jpg"
	linkURL="images/woodwork2_14.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_14]]></title>
    <caption><![CDATA[Pencil box in American walnut and western maple]]></caption>
  </image>
  <image imageURL="images/woodwork2_15.jpg"
	thumbURL="thumbs/woodwork2_15.jpg"
	linkURL="images/woodwork2_15.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_15]]></title>
    <caption><![CDATA[Zebra , Walnut, pencil box .                   Ash, Paduk and Cherry, pencil box]]></caption>
  </image>
  <image imageURL="images/woodwork2_16.jpg"
	thumbURL="thumbs/woodwork2_16.jpg"
	linkURL="images/woodwork2_16.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_16]]></title>
    <caption><![CDATA[Zebra , Walnut, pencil box .                   Ash, Paduk and Cherry, pencil box]]></caption>
  </image>
  <image imageURL="images/woodwork2_17.jpg"
	thumbURL="thumbs/woodwork2_17.jpg"
	linkURL="images/woodwork2_17.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_17]]></title>
    <caption><![CDATA[Cutting board of zebra wood, Brazilian walnut, and padauk]]></caption>
  </image>
  <image imageURL="images/woodwork2_18.jpg"
	thumbURL="thumbs/woodwork2_18.jpg"
	linkURL="images/woodwork2_18.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_18]]></title>
    <caption><![CDATA[Cutting board of walnut, ash, and padauk]]></caption>
  </image>
  <image imageURL="images/woodwork2_19.jpg"
	thumbURL="thumbs/woodwork2_19.jpg"
	linkURL="images/woodwork2_19.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_19]]></title>
    <caption><![CDATA[Brazilian Walnut]]></caption>
  </image>
  <image imageURL="images/woodwork2_20.jpg"
	thumbURL="thumbs/woodwork2_20.jpg"
	linkURL="images/woodwork2_20.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_20]]></title>
    <caption><![CDATA[Strongbox made of Hickory with wooden combination lock ]]></caption>
  </image>
  <image imageURL="images/woodwork2_21.jpg"
	thumbURL="thumbs/woodwork2_21.jpg"
	linkURL="images/woodwork2_21.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_21]]></title>
    <caption><![CDATA[Strongbox made of Hickory with wooden combination lock ]]></caption>
  </image>
  <image imageURL="images/woodwork2_22.jpg"
	thumbURL="thumbs/woodwork2_22.jpg"
	linkURL="images/woodwork2_22.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork2_22]]></title>
    <caption><![CDATA[Redwood Adirondak loveseat rocker]]></caption>
  </image>
  <image imageURL="images/woodwork3_1.jpg"
	thumbURL="thumbs/woodwork3_1.jpg"
	linkURL="images/woodwork3_1.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork3_1]]></title>
    <caption><![CDATA[Walnut Weather Station]]></caption>
  </image>
  <image imageURL="images/woodwork3_2.jpg"
	thumbURL="thumbs/woodwork3_2.jpg"
	linkURL="images/woodwork3_2.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork3_2]]></title>
    <caption><![CDATA[Redwood Bandsaw Boxes]]></caption>
  </image>
  <image imageURL="images/woodwork3_3.jpg"
	thumbURL="thumbs/woodwork3_3.jpg"
	linkURL="images/woodwork3_3.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork3_3]]></title>
    <caption><![CDATA[Walnut clock]]></caption>
  </image>
  <image imageURL="images/woodwork3_4.jpg"
	thumbURL="thumbs/woodwork3_4.jpg"
	linkURL="images/woodwork3_4.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork3_4]]></title>
    <caption><![CDATA[Caption]]></caption>
  </image>
  <image imageURL="images/woodwork3_5.jpg"
	thumbURL="thumbs/woodwork3_5.jpg"
	linkURL="images/woodwork3_5.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork3_5]]></title>
    <caption><![CDATA[More Redwood Bandsaw Boxes]]></caption>
  </image>
  <image imageURL="images/woodwork3_6.jpg"
	thumbURL="thumbs/woodwork3_6.jpg"
	linkURL="images/woodwork3_6.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork3_6]]></title>
    <caption><![CDATA[Boxes Open]]></caption>
  </image>
  <image imageURL="images/woodwork3_7.jpg"
	thumbURL="thumbs/woodwork3_7.jpg"
	linkURL="images/woodwork3_7.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork3_7]]></title>
    <caption><![CDATA[Showing Hinges]]></caption>
  </image>
  <image imageURL="images/woodwork3_8.jpg"
	thumbURL="thumbs/woodwork3_8.jpg"
	linkURL="images/woodwork3_8.jpg"
	linkTarget="_blank">
    <title><![CDATA[woodwork3_8]]></title>
    <caption><![CDATA[Padauk Weather Station]]></caption>
  </image>
</juiceboxgallery>