<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1024"
	maxImageHeight="768"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="Allen McCall"

>
  <image imageURL="images/IMG_0116.JPG"
	thumbURL="thumbs/IMG_0116.JPG"
	linkURL="images/IMG_0116.JPG"
	linkTarget="_blank">
    <title><![CDATA[IMG_0116]]></title>
    <caption><![CDATA[Cutting Boards in maple, cherry, and walnut]]></caption>
  </image>
  <image imageURL="images/IMG_0398.JPG"
	thumbURL="thumbs/IMG_0398.JPG"
	linkURL="images/IMG_0398.JPG"
	linkTarget="_blank">
    <title><![CDATA[IMG_0398]]></title>
    <caption><![CDATA[End Table in walnut]]></caption>
  </image>
  <image imageURL="images/IMG_0288.JPG"
	thumbURL="thumbs/IMG_0288.JPG"
	linkURL="images/IMG_0288.JPG"
	linkTarget="_blank">
    <title><![CDATA[IMG_0288]]></title>
    <caption><![CDATA[Decorative boxes in maple with padauk and walnut accents]]></caption>
  </image>
</juiceboxgallery>