<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1024"
	maxImageHeight="768"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="Ed Moore"

>
  <image imageURL="images/2009-04-27_01.jpg"
	thumbURL="thumbs/2009-04-27_01.jpg"
	linkURL="images/2009-04-27_01.jpg"
	linkTarget="_blank">
    <title><![CDATA[2009-04-27_01]]></title>
    <caption><![CDATA[Turned Vessel]]></caption>
  </image>
  <image imageURL="images/2009-04-27_02.jpg"
	thumbURL="thumbs/2009-04-27_02.jpg"
	linkURL="images/2009-04-27_02.jpg"
	linkTarget="_blank">
    <title><![CDATA[2009-04-27_02]]></title>
    <caption><![CDATA[Segmented Vase]]></caption>
  </image>
  <image imageURL="images/2009-04-27_03.jpg"
	thumbURL="thumbs/2009-04-27_03.jpg"
	linkURL="images/2009-04-27_03.jpg"
	linkTarget="_blank">
    <title><![CDATA[2009-04-27_03]]></title>
    <caption><![CDATA[Turned Bowl]]></caption>
  </image>
  <image imageURL="images/2009-04-27_04.jpg"
	thumbURL="thumbs/2009-04-27_04.jpg"
	linkURL="images/2009-04-27_04.jpg"
	linkTarget="_blank">
    <title><![CDATA[2009-04-27_04]]></title>
    <caption><![CDATA[Caption]]></caption>
  </image>
  <image imageURL="images/2009-04-27_05.jpg"
	thumbURL="thumbs/2009-04-27_05.jpg"
	linkURL="images/2009-04-27_05.jpg"
	linkTarget="_blank">
    <title><![CDATA[2009-04-27_05]]></title>
    <caption><![CDATA[Turned Bowl - Spalted]]></caption>
  </image>
</juiceboxgallery>