<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1024"
	maxImageHeight="768"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="Dennis Harrison"

>
  <image imageURL="images/actors.jpg"
	thumbURL="thumbs/actors.jpg"
	linkURL="images/actors.jpg"
	linkTarget="_blank">
    <title><![CDATA[actors]]></title>
    <caption><![CDATA[Marquetry - "Actors"]]></caption>
  </image>
  <image imageURL="images/lantern.jpg"
	thumbURL="thumbs/lantern.jpg"
	linkURL="images/lantern.jpg"
	linkTarget="_blank">
    <title><![CDATA[lantern]]></title>
    <caption><![CDATA[Marquetry - "Lantern"]]></caption>
  </image>
  <image imageURL="images/lovers.jpg"
	thumbURL="thumbs/lovers.jpg"
	linkURL="images/lovers.jpg"
	linkTarget="_blank">
    <title><![CDATA[lovers]]></title>
    <caption><![CDATA[Marquetry - "Lovers"]]></caption>
  </image>
</juiceboxgallery>