<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="1024"
	maxImageHeight="768"
	imageQuality="80"
	thumbWidth="85"
	thumbHeight="85"
	thumbQuality="90"
	useFlickr="false"
	resizeOnImport="true"
	cropToFit="false"
	galleryTitle="Tom Howorth"
	indexPageName="index.html"

>
  <image imageURL="images/2004_10.jpg"
	thumbURL="thumbs/2004_10.jpg"
	linkURL="images/2004_10.jpg"
	linkTarget="_blank">
    <title><![CDATA[2004_10]]></title>
    <caption><![CDATA[Heart Jewelry Box in oak]]></caption>
  </image>
  <image imageURL="images/2007_09.jpg"
	thumbURL="thumbs/2007_09.jpg"
	linkURL="images/2007_09.jpg"
	linkTarget="_blank">
    <title><![CDATA[2007_09]]></title>
    <caption><![CDATA[Drop Point Knife with bubinga scales and cocobolo sheath]]></caption>
  </image>
  <image imageURL="images/2007_12.jpg"
	thumbURL="thumbs/2007_12.jpg"
	linkURL="images/2007_12.jpg"
	linkTarget="_blank">
    <title><![CDATA[2007_12]]></title>
    <caption><![CDATA[Screwdrivers in cherry and wenge]]></caption>
  </image>
  <image imageURL="images/2009_02.jpg"
	thumbURL="thumbs/2009_02.jpg"
	linkURL="images/2009_02.jpg"
	linkTarget="_blank">
    <title><![CDATA[2009_02]]></title>
    <caption><![CDATA[Fretwork Basket in oak]]></caption>
  </image>
  <image imageURL="images/2009_02a.jpg"
	thumbURL="thumbs/2009_02a.jpg"
	linkURL="images/2009_02a.jpg"
	linkTarget="_blank">
    <title><![CDATA[2009_02a]]></title>
    <caption><![CDATA[Wine Rack in ash and sapelle]]></caption>
  </image>
  <image imageURL="images/2009_02b.jpg"
	thumbURL="thumbs/2009_02b.jpg"
	linkURL="images/2009_02b.jpg"
	linkTarget="_blank">
    <title><![CDATA[2009_02b]]></title>
    <caption><![CDATA[Wine Rack in ash and sapelle]]></caption>
  </image>
  <image imageURL="images/2009_04.jpg"
	thumbURL="thumbs/2009_04.jpg"
	linkURL="images/2009_04.jpg"
	linkTarget="_blank">
    <title><![CDATA[2009_04]]></title>
    <caption><![CDATA[Valet in oak]]></caption>
  </image>
  <image imageURL="images/2009_05.jpg"
	thumbURL="thumbs/2009_05.jpg"
	linkURL="images/2009_05.jpg"
	linkTarget="_blank">
    <title><![CDATA[2009_05]]></title>
    <caption><![CDATA[Serpentine Clock in baltic birch]]></caption>
  </image>
  <image imageURL="images/2010_11.jpg"
	thumbURL="thumbs/2010_11.jpg"
	linkURL="images/2010_11.jpg"
	linkTarget="_blank">
    <title><![CDATA[2010_11]]></title>
    <caption><![CDATA[Shaving Brush and Mug in rosewood]]></caption>
  </image>
  <image imageURL="images/2011_08.jpg"
	thumbURL="thumbs/2011_08.jpg"
	linkURL="images/2011_08.jpg"
	linkTarget="_blank">
    <title><![CDATA[2011_08]]></title>
    <caption><![CDATA[Maloof Style Rocking Chair in black walnut and maple]]></caption>
  </image>
  <image imageURL="images/2012_01.jpg"
	thumbURL="thumbs/2012_01.jpg"
	linkURL="images/2012_01.jpg"
	linkTarget="_blank">
    <title><![CDATA[2012_01]]></title>
    <caption><![CDATA[State Quarter Plaque in oak and baltic birch]]></caption>
  </image>
  <image imageURL="images/2012_05.jpg"
	thumbURL="thumbs/2012_05.jpg"
	linkURL="images/2012_05.jpg"
	linkTarget="_blank">
    <title><![CDATA[2012_05]]></title>
    <caption><![CDATA[Model Tractor in various woods]]></caption>
  </image>
</juiceboxgallery>
