body {
    background-color: #44607e;
}
#header {
    background-image: url(images/NWWA_banner2.jpg);
    height: 226px;
    width: 777px;
    margin: 10px auto 0;
}
#navlist {
    padding: 0;
    margin: 0 auto;
    width: 774px;
    overflow: hidden;
}
#navlist li {
    float: left;
    list-style-type: none;
}
#navlist a {
    background: #9cafc7;
    background-image: -webkit-linear-gradient(top, #9cafc7, #15427b);
    background-image: -moz-linear-gradient(top, #9cafc7, #15427b);
    background-image: -ms-linear-gradient(top, #9cafc7, #15427b);
    background-image: -o-linear-gradient(top, #9cafc7, #15427b);
    background-image: linear-gradient(to bottom, #9cafc7, #15427b);
    display: block;
    font-family: Arial;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    height: 26px;
    width: 129px;
    text-decoration: none;
}
#navlist a:hover {
    background: #15427b;
    background-image: -webkit-linear-gradient(top, #15427b, #9cafc7);
    background-image: -moz-linear-gradient(top, #15427b, #9cafc7);
    background-image: -ms-linear-gradient(top, #15427b, #9cafc7);
    background-image: -o-linear-gradient(top, #15427b, #9cafc7);
    background-image: linear-gradient(to bottom, #15427b, #9cafc7);
    text-decoration: none;
}
#content {
    margin: 0 auto;
    width: 774px;
    background-color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
}
#content h1 {
    text-align: center;
    margin-top: 0px;
    padding-top: 15px;
}
#content h2 {
    text-align: center;
    margin-top: 0px;
    padding-top: 5px;
}
#content p {
    padding-left: 30px;
    padding-right: 30px;
}
#leftside {
    float: left;
    width: 300px;
}
#leftside img {
    margin: 10px 50px;
    height: 140px;
    width: 200px;
    border: 3px solid #00306f;
}
#rightside {
    margin-left: 300px;
    background-color: #FFFFFF;
    overflow: hidden;
}
#rightside p {
    padding-left: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
}
#rightside h1 {
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #033387;
}
#rightside a {
    color: #666666;
}
#sponsor-list ul {
    padding-left: 30px;
    list-style: none;
}
#gallery_list {
    display: none;
}
#gallery_list ul {
    margin-top: 10px;
    list-style: none;
}
#lightgallery {
    display: none;
}
.gallery_thumb {
    border: 1px solid #666666;
    margin: 2px;
    width: 180px;
    height: 180px;
}
#footer {
    clear: both;
    background-color: #FFFFFF;
    position: relative;
    height: 46px;
    background-image: url(images/footer.gif);
    background-repeat: no-repeat;
    background-position: right bottom;
}

#newsletters table {
    border: 5px solid grey;
    margin: 0 auto;
}
#newsletters table tbody td {
    border: 1px solid grey;
    height: 30px;
}
#newsletters td.year {
    width: 50px;
    text-align: center;
}
#newsletters td.letter {
    background-image: url("images/IconDoc.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
}
#newsletters table tbody td a {
    display: block;
    width: 100%;
    height: 30px;
}

form {
    margin: 0 auto;
    text-align: center;
    width: 310px;
}

#signup-form {
    border: 1px solid #a9a9a9
}

.question {
    padding: 6px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.question * {
    vertical-align: top;
}

.question label {
    width: 100px;
    text-align: right;
    display: inline-block;
}

input {
    margin-left: 10px
}

input[type="submit"] {
    background: #00306e;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 110px;
    margin-bottom: 10px;
    padding: 7px 15px;
}

p.payment-option {
    background-color: #DDD;
    padding: 10px 0;
}

.schedule table {
    border-collapse: collapse;
    border: 2px solid #006699;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
.schedule table td, .schedule table th {
   padding: 3px 10px;
}
.schedule table thead th {
    background-color:#006699;
    color:#FFFFFF;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #0070A8;
    padding: 7px 6px;
}
.schedule table tbody td {
    color: #00557F;
    font-size: 14px;
    border: 2px solid #006699;
    font-weight: normal;
    padding: 7px 6px;
}
