{{ define "content" }}
<h1><div align="center">Membership</div></h1>

<p>
    Thank you for joining the Northwest Woodworkers Association
</p>

<p>
    Your subscription was created successfully and a receipt will be emailed to
    you. You can use the links in the email to manage your subscription.
    You will receive your membership card at your next meeting.
</p>
<p>
    If you have any questions please contact the
    <a href="mailto:membership@nwwoodworkers.org">Membership Chair</a>.
</p>
{{ end }}
