{{ define "content" }}
<h1><div align="center">Membership</div></h1>

<p>
    Membership is open to anyone that is interested in woodworking
    no matter your age or skill level. The benefits of membership
    are greatest for those that actively participate in all of the
    activities of the Northwest Woodworkers Association.
</p>
<p>
    Annual dues are $20.  In order to become a member, complete the
    membership application below and click Submit. Dues may be paid on the next
    page with a credit card, or by check at your first meeting. For questions,
    please contact the 
    <a href="mailto:membership@nwwoodworkers.org">Membership Chair</a>.
</p>

<form action="/payment" method="post">
    <h3>Membership Application:</h3>

    <div class="question">
        <label for="name_field">Your Name:</label>
        <input type="text" id="name_field" name="name">
    </div>

    <div class="question">
        <label for="address_field">Street Address:</label>
        <input type="text" id="address_field" name="address">
    </div>

    <div class="question">
        <label for="city_field">City:</label>
        <input type="text" id="city_field" name="city">
    </div>

    <div class="question">
        <label for="state_field">State:</label>
        <input type="text" id="state_field" name="state">
    </div>

    <div class="question">
        <label for="zip_field">Zip Code:</label>
        <input type="number" id="zip_field" name="zipcode">
    </div>

    <div class="question">
        <label for="phone_field">Phone Number:</label>
        <input type="tel" id="phone_field" name="phone">
    </div>

    <div class="question">
        <label for="email_field">Email:</label>
        <input type="email" id="email_field" name="email">
    </div>

    <input type="submit" value="Next">
</form>
{{ end }}
